.login {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg");
  background-size: cover;
  .top {
    .wrapper {
      padding: 20px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        height: 40px;
      }
    }
  }
  .container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    form {
      width: 400px;
      height: 400px;
      padding: 30px;
      border-radius: 5px;
      background-color: #0b0b0b;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      input {
        height: 42px;
        border-radius: 5px;
        background-color: gray;
        color: white;
        padding-left: 10px;
        &::placeholder {
          color: lightgray;
        }
      }
      button {
        height: 42px;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        font-size: 20px;
        font-weight: 500;
      }
      span {
        color: lightgray;
      }
      b {
        color: white;
      }
    }
  }
}
