.list {
  color: white;
  margin-top: 20px;
  .list-title {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-left: 50px;
  }
  .wrapper {
    position: relative;
    .container {
      margin-left: 50px;
      display: flex;
      width: max-content;
      margin-top: 10px;
      transition: all 0.5s linear;
    }
    .sliderArrow {
      width: 50px;
      height: 100%;
      background-color: rgba(22, 22, 22, 0.5);
      position: absolute;
      top: 50%;
      z-index: 99;
      cursor: pointer;
      &.left {
        left: 0;
        transform: translateY(-50%);
      }
      &.right {
        right: 0;
        transform: translateY(-50%);
      }
    }
  }
}
