.featured{
  height: 90vh;
  position: relative;
  .category{
    position: absolute;
    top: 80px;
    left: 50px;
    font-size: 30px;
    font-weight: 500; 
    color: white;
    display: flex;
    align-items: center;
    select{
      cursor:pointer;
      background-color: var(--main-color);
      border: 1px solid white;
      color:white;
      margin-left: 20px;
      padding: 5px;
    }


  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .info{
    position: absolute;
    width: 35%;
    left: 50px;
    bottom: 100px;
    color: white;
    display: flex;
    flex-direction: column  ;
    img{
      width: 400px;
    }
    .desc{
      margin: 20px 0;
      text-align: left;
      line-height: 1.4;
    }
    .buttons{
      display: flex;
      button{
        padding: 10px 20px;
        border: none;
        outline: none;
        border-radius: 5px;
        margin-right: 20px;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        cursor: pointer;
        &.plau{
          background-color: white;
          color: var(--main-color);
        }
        &.more{
          background-color: gray ;
          color: white;
        }
        .button-icon{
          margin-right: 10px;
        }
      }

     }
  }


}
