.navbar{
  color: white;
  font-size: 14px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: linear-gradient(to top , transparent 0%, rgba(0,0,0,0.3),50%);
  &.scrolled{
    background-color: var(--main-color);
  }
  .container{
     padding: 0px 50px;
    height: 70px;
     display: flex;
     align-items: center;
     justify-content: space-between;
   img{ 
      height: 25px;
    }
    .left{
      display: flex;
      align-items: center;
      img{
        margin-right: 40px;
      }
      span{
        margin-right:20px ;
        font-size: 16px;
        cursor: pointer;
      }
    }
    .right{
      display: flex;
      align-items: center;
      .icon{
        margin: 0 15px;
        cursor: pointer;
      }
      img{
        width: 30px;
        height: 30px;
        border-radius: 5px;
        object-fit: cover;
        cursor: pointer;
      }
      .profile{
        .options{
          display: none;
          background-color: var(--main-color);
          border-radius: 5px;
          transition: all o.2s ease-in-out;
        }
        li{
          padding: 16px;
          cursor: pointer;
        }
        &:hover{
          .options{
            display: flex;
            flex-direction: column;
            position: absolute;
            transition: all o.2s ease-in-out;
          }
        }
      }
  }
 }
}

